<div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="game-column column-left">
           <div class="game-title-container">
                <img src="images/{{game}}.png" class="imgh2" />
                <span class="game-title">{{game_title}}</span>
            </div>
            <ul class="articles-list">
              <li ng-repeat="article in gameArticles | filter:query | orderBy:orderProp">
                <a target="_blank" href="{{article.link}}">
                  <div class="pull-left" style="position:absolute; padding-top:8px"><img ng-src="images/{{websiteIds[article.website]}}_24.png" /></div> 
                  <div style="position:relative; padding-left:33px">{{article.title}} <br />
                  <span class="article-date">{{article.date}}</span> par <span class="article-date">{{article.author}}</span></div>
                </a>
              </li>
            </ul>
          </div>
        </div>

</div>