<div class="container-fluid" id="pcont">
  <div class="cl-mcont">
    <div class="row">

		<div class="col-md-6">
			<div class="block-flat about-column">
				<div class="game-title-container">
					<span class="game-title">{{ 'INFO_TITLE' | translate }}</span>
				</div>

				<div class="about_text">
					<p>{{ 'INFO_DESCRIPTION' | translate }}</p>
				</div>
			</div>

			<div class="block-flat about-column">
				<div class="game-title-container">
					<span class="game-title">App Android</span>
				</div>


				<div class="about_text">
					<p>{{ 'ANDROID_DESCRIPTION' | translate }} <a href="https://play.google.com/store/apps/details?id=com.ar.oe" target="_blank">Play Store</a>.</p><br />

					<div style="text-align:center; margin: 10px 0;"><a href="https://play.google.com/store/apps/details?id=com.ar.oe" target="_blank"><img src="images/android_logo.png" /><a/></div><br />
				</div>
			</div>

			<div class="block-flat about-column">
				<div class="game-title-container">
					<span class="game-title">Contact</span>
				</div>

				<div class="about_text">
					<p>{{ 'CONTACT_DESCRIPTION' | translate }} <a href="http://www.twitter.com/OpeneSport" target="_blank">@OpeneSport</a></p>
					<p>{{ 'CONTACT_DESCRIPTION2' | translate }}</p>
				</div>
			</div>

			<div class="block-flat about-column">
				<div class="game-title-container">
					<span class="game-title">{{ 'THANKS' | translate }}</span>
				</div>


				<div class="about_text">
					<p>{{ 'THANKS_DESCRIPTION' | translate }}</p>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<div class="block-flat about-column">
				<div class="game-title-container">
					<span class="game-title">Sources</span>
				</div>

				<div class="row" style="margin: 10px 5px">
					<div class="col-md-6">
						<div class="list-group">	
							<a href="#" class="list-group-item"><img ng-src="images/ogaming_24.png" /> O'Gaming</a>
							<a href="#" class="list-group-item"><img ng-src="images/teamaaa_24.png" /> Team aAa</a>
							<a href="#" class="list-group-item"><img ng-src="images/millenium_24.png" /> Millenium</a>
							<a href="#" class="list-group-item"><img ng-src="images/esportactu_24.png" /> Esport Actu</a>
							<a href="#" class="list-group-item"><img ng-src="images/thunderbot_24.png" /> Thunderbot</a>
							<a href="#" class="list-group-item"><img ng-src="images/iewt_24.png" /> In Esport We Trust</a>
							<a href="#" class="list-group-item"><img ng-src="images/vakarm_24.png" /> VaKarM</a>
							<a href="#" class="list-group-item"><img ng-src="images/dota2fr_24.png" /> dota2fr</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="list-group">	
							<a href="#" class="list-group-item"><img ng-src="images/reddit_24.png" /> Reddit</a> 
							<a href="#" class="list-group-item"><img ng-src="images/ongamers_24.png" /> onGamers</a>
							<a href="#" class="list-group-item"><img ng-src="images/skgaming_24.png" /> SK Gaming</a>
							<a href="#" class="list-group-item"><img ng-src="images/hltv_24.png" /> HLTV</a>
							<a href="#" class="list-group-item"><img ng-src="images/teamliquid_24.png" /> TeamLiquid</a>
							<a href="#" class="list-group-item"><img ng-src="images/joindota_24.png" /> joinDOTA</a>
							<a href="#" class="list-group-item"><img ng-src="images/esportsexpress_24.png" /> Esports Express</a>
							<a href="#" class="list-group-item"><img ng-src="images/shoryuken_24.png" /> Shoryuken</a>
							<a href="#" class="list-group-item"><img ng-src="images/esreality_24.png" /> ESReality</a>
							<a href="#" class="list-group-item"><img ng-src="images/liquidhearth_24.png" /> LiquidHeart</a>
							<a href="#" class="list-group-item"><img ng-src="images/cloth5_24.png" /> Cloth5</a>
						</div>
					</div>
				</div>

				<br />
			</div>

		</div>

	</div>
</div>
</div>