<div id="head-nav" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-gear"></span>
        </button>
        <a class="navbar-brand"><img src="images/logo2.png" /></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.ar.oe"><i class="fa fa-android" style="padding-right:5px"></i> APP ANDROID</a></li>
          <li><a target="_blank" href="https://twitter.com/openesport"><i class="fa fa-twitter" style="padding-right:5px"></i> @OPENESPORT</a></li>
          <!-- <li><a href="#/about"><i class="fa fa-rocket" style="padding-right:5px"></i>{{ 'ABOUT' | translate }}</a></li> -->
        </ul>
      </div>
    </div>
  </div>


<div class="container">
  <div id="filter-container">
      <div id="filter-name">{{ 'FILTER' | translate }}</div>
      <div ng-repeat="game in gameIcons" ng-class="(game.enabled) ? 'filter-on' : 'filter-off'" class="filter" ng-click="showGame(game.id)">
        <img ng-src="images/{{game.id}}.png" />
      </div>
      <div class="filter filter-none" ng-click="showMore()">
        <img ng-src="images/more_filter.png" />
      </div>
  </div>

  <div id="hidden-filter-container" class="row">
    <div class="col-md-4">
      <div class="list-group">  
        <a ng-repeat="website in websites" ng-if="$index%3 === 0" ng-click="showWebsite(website.name)" class="list-group-item" style="cursor:pointer;">
          <img ng-class="(website.enabled) ? 'filter-on-left' : 'filter-off-left'" ng-src="images/{{website.lang}}.png" /> <span ng-bind="website.name"></span>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="list-group">  
        <a ng-repeat="website in websites" ng-if="$index%3 === 1" ng-click="showWebsite(website.name)" class="list-group-item" style="cursor:pointer;">
          <img ng-class="(website.enabled) ? 'filter-on-left' : 'filter-off-left'" ng-src="images/{{website.lang}}.png" /> <span ng-bind="website.name"></span>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="list-group">  
        <a ng-repeat="website in websites" ng-if="$index%3 === 2" ng-click="showWebsite(website.name)" class="list-group-item" style="cursor:pointer;">
          <img ng-class="(website.enabled) ? 'filter-on-left' : 'filter-off-left'" ng-src="images/{{website.lang}}.png" /> <span ng-bind="website.name"></span>
        </a>
      </div>
    </div>

  </div>
</div>

