<div class="container">
  <div class="row">
      <div class="col-md-7">
        <div class="block-flat game-home-bloc">
          <div class="header game-title-container game-title">{{ 'ARTICLES_TITLE' | translate }}</div>
          <div class="content" id="map_one">
            <ul class="articles-list">
              <li class="home-articles-list" ng-repeat="article in posts | orderBy:orderArticles">
                <a target="_blank" title="{{article.title}}" ng-href="{{article.link}}"><div class="one-line-title">
                  <div class="left_logo"><img ng-src="images/{{gamesInfo[article.category].id}}.png" /></div> 
                  <div class="right_content"><span ng-bind="article.date" class="article-date"></span> <span ng-bind="article.title"></span><br />
                  <span class="article-date">{{ 'BY' | translate }} <span ng-bind="article.author"></span></span></div>
                </div></a>
              </li>
              <li class="loading" ng-if="!articlesLoaded" style="cursor:default;">{{ 'LOADING' | translate }} <img ng-src="images/loading.png" />
              <li class="more" ng-if="articlesLoaded" ng-click="refreshArticles(true)" style="cursor:pointer;">{{ 'MORE' | translate }} <img ng-src="images/more.png" />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="block-flat game-column">
          <div class="game-title-container">
            <span class="game-title">{{ 'INFO_TITLE' | translate }}</span>
          </div>

          <div class="about_text">
            <p>{{ 'INFO_DESCRIPTION' | translate }}</p>
          </div>
        </div>

        <div class="block-flat game-column">
          <div class="game-title-container">
            <span class="game-title">{{ 'ANDROID_TITLE' | translate }}</span>
          </div>


          <div class="about_text"><a href="https://play.google.com/store/apps/details?id=com.ar.oe" target="_blank">
            <p>{{ 'ANDROID_DESCRIPTION' | translate }} Play Store.</p><br />
            <div style="text-align:center; margin: 10px 0;"><img src="images/android_screen.png" /></div><br />
          </div>
        </div>

        <div class="block-flat game-column">
          <div class="game-title-container">
            <span class="game-title">Contact</span>
          </div>

          <div class="about_text">
            <p>{{ 'CONTACT_DESCRIPTION' | translate }} <a href="http://www.twitter.com/OpeneSport" target="_blank">@OpeneSport</a></p>
            <p>{{ 'CONTACT_DESCRIPTION2' | translate }}</p>
          </div>
        </div>

<!--     <div class="col-md-5">
       <div class="block-flat game-home-bloc">
          <div class="header game-title-container game-title">{{ 'STREAMS' | translate }}</div>
          <div>
          <ul class="articles-list">
            <li class="home-articles-list" ng-repeat="stream in gameStreams | orderBy:orderStreams">
              <a target="_blank" href="{{stream.link}}">
                <div class="pull-left" style="position:absolute; padding-top:8px"><img ng-src="images/{{stream.game}}.png" width="24" height="24" /></div> 
                <div class="one-line-title">
                  <div ng-bind="stream.status" style="position:relative; padding-left:33px"></div>
                </div>
                <div style="position:relative; padding-left:33px" class="article-date"><span style="font-size:12px" ng-bind="stream.viewers"></span> {{ 'VIEWERS' | translate }} {{ 'WITH' | translate }} <span ng-bind="stream.name"></span></div>
              </a>
            </li>
            <li class="loading" ng-if="!streamsLoaded" style="cursor:default;">{{ 'LOADING' | translate }} <img ng-src="images/loading.png" />
            <li class="more" ng-disabled="gameStreams.length < streams_page_size" ng-click="nextPage('streams')" style="cursor:pointer;">{{ 'MORE' | translate }} <img ng-src="images/more.png" /> 
              </li>
          </ul>
          </div>
        </div>
      </div>  -->

    </div>
</div>